*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

html,
body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  background-color: #333;
  border-radius: 2px;
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center ;

}
.card p{
  margin: 20px 0px ;
}
.card button{
  padding: 10px 10px ;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
}
.card img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin: 10px 0;
}