.header {
  background-color: rgb(109, 133, 132);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}


.btn{
    background-color: yellow;
    color: black;
}