*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html, body{
  height: 100%;
  width: 100%;
}

.button{
  padding: 10px;
  margin: 10px;
  font-size: large;
}
.count{
  font-size: larger;
}
.inputNumber{
  /* padding: 10px; */
  padding: 10px;
  font-size: large;
}